body{
	font-family: 'Oswald', sans-serif;


}

 html,body{
 	height: 100%;
 }

 body{
 	display:flex;
 	flex-direction: column;
 }


a:link {
  text-decoration: none;
}


.testloader{
 margin-top: 200px;
	text-align: center;
}


.admin nav{
  background: #212121;

  padding: 0px;
  border-right: 5px solid #565656;
}

.admin .MuiList-root {
  color: #fff;
}

.admin .MuiButtonBase-root {
  border-bottom: 1px solid #313131;

}

.redColor
{
	color: red;
}
.greenColor{
	color: green;
}
.colorBleu{
	color:purple;
}
